.home-container {
    display: flex;
}

.side-panel {
    text-align: left;
    flex: 1;
}

.about {
    flex: 2;
}

.about {
    text-align: left;
    /* max-width: 800px; */
    margin: auto;
}
.name {
    font-size: 30px;
    /* font-weight: 400; */
}
.profile-pic img {
    border-radius: 50%;
}

.profile-details {

}

.see-projects {
    font-size: 30px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
        padding-top: 100px;
    }

    .side-panel {
        text-align: center;
    }

    
    .about {
        text-align: center;
        max-width: 800px;
    }
    .socials ul {
        text-align: center;
    margin: auto;
    width: fit-content;
    }

    .profile-pic {
        margin-bottom: 50px;
    }
}
