.image-and-title {
    display: flex;
}

.project-container {
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 7px 23px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 23px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 23px -6px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    transition: 0.3s;
}
.project-container:hover {
    transform: scale(1.1);
    transition: 1s;
}
.img-container {
    flex: 1;
    max-height: 200px;
    width: 100%;
    background: #F1F1F1;
    text-align: center;
}

.project-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.project-details {
    flex: 2;
    padding: 10px;
    /* Vertically center the project details */
    /* transform: translate(0%, 25%); */
}

.project-description {
    padding: 10px;
}

.technology-txt {
    font-weight: 400;
}

.technology-txt .grey{
    color: #A2A2A2;
}
@media only screen and (max-width: 768px) {
    .image-and-title {
        flex-direction: column;
    }

    .project-description {
        margin-left: 0px;
    }
    /* .projects-padding {
        padding-top: 300px;
    } */
}